$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$light-orange: #ff8c00;

$text-color: black;

$font-family-sans-serif: "Avenir";

$navbar-margin-bottom: 0;

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

// bower:bourbon
// endbower

$navbar-default-bg: blue;
$navbar-default-color: $light-orange;


.header {
}



.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.navbar-default {
    background-color: #f8f8f8 !important;
}

/* Space out content a bit */
body {
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
 }

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

section {
    padding-top: 40px;
    overflow: hidden;
}

section#twitter {
color: white;
   @include gradient-vertical(#ff4e00, #ff8400);
 }

 section h1 {
    text-align: center;
    margin-bottom: 40px;
 }

 section h1:after {
    content: " ";
    display: block;
    width: 100px;
    text-align: center;
    margin: auto;
    border-bottom: 4px solid white;
    padding-top: 10px;

 }

section img {
    width:100%;
    margin: auto;
    display: block;
}

section .container {
    max-width: 800px;
    text-align: center;
}
 .navbar-btn {
    margin-left: 10px;
 }





/* Main marketing message and sign up button */
.jumbotron {
    color: white;
    text-align: center;

    background: black;

    margin-bottom: 0;

    overflow: hidden;

    p.lead {
        display: block;
        margin: auto;
        font-size: 40px;
    }

    p {
        font-size: 30px;
    }

    small {
        color: rgba(255,255,255,0.5);
        font-size: 30px;
    }

    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

.get-app {
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1200px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
